# ---------- 构建产物（绝不能提交）----------
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
out/

# ---------- Visual Studio 本地设置 ----------
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# ---------- MSVC 中间文件 ----------
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.tlog
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.log

# ---------- 其他 ----------
*.cache
*.tmp
Thumbs.db
desktop.ini
